* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* min-width: 1000px; */
    position: relative;
    /* font-size: 0.875em; */
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    /* animation-duration: 3s; */
    /* animation-timing-function:step-start */
    background-color: rgb(255, 254, 245);
    font-size: 1vw;
    
}

img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    }
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    /* font-size: 100%; */
    vertical-align: baseline;
    font-size: 0.96vw;
}
.menu-button {
    /* position: absolute;
    left: 0;
    top: 0; */
    width: 100vw;
    height: 5.2vh;
    border: 0.4vh solid #000;
    box-sizing: border-box;
    background-color: white;
}
ul, ul li ,li{
    float: left;
    list-style: none;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul li {
    display: flex;
    padding: 0px 0.6vw;
    font-family: "pixeboy";
    font-size: 1.3vw;
    /* line-height: 4.8vh */
    cursor: pointer;
}
.checked {
    background: black;
    color: white;
}
ul#topl {
    position: absolute;
    left: 0px;
    top: 0px;
}
ul#topr, ul#topr li{
    float: right;
}
ul li img {
    width: 1.5vw;
}

/* .main-contents {
    position: relative;
    width: 100vw;
    height: 100vh;
} */


#loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    /* background: #000; */
    pointer-events:none;
    
    /* display: none; */
}
.loadblocks {
    width: 100vw;
    height: 100vh;
    display: flex;
    -webkit-flex-flow: column wrap;
    justify-content: flex-start;
}
#loading img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4.7vw;
    height: 4.7vw;
    transform: translate(-50%,-160%);
}
#progressbar {
    width: 26.5vw;
    height: 3.1vh;
    /* border: 1px solid white; */
    position: absolute;
    left: 51%;
    top: 50%;
    transform: translate(-50%,-50%); 
    font-family: "zpix";
    color: white;
    /* z-index: 999; */
}
#outbar,#inbar {
    width: 24.2vw;
    height: 3.1vh;
    position: absolute;
    left: 0;
    top: 0;
    border: 0.3vh solid white;
    

    
}
#inbar {
    left: 0.2vh;
    top: 0.2vh;
    height: 2.2vh;
    background:url(../img/inbar.png) no-repeat;
    background-size: cover;
    border: 0px solid white;
    -webkit-font-smoothing: antialiased;
    width: 0;
}
#progress {
    position: absolute;
    right: 0;
    width: 25px;
    /* border: 1px solid white; */
    text-align: center;
    line-height: 3.1vh;
    font-weight: medium;
    font-size: 1.3vw;
    color: white;
    /* letter-spacing: ; */
}
#progress::after{
    content: "%";
    /* position: absolute; */
    /* right: -15px; */
    padding-left: 3px;
}
.loadblock {
    width: 100%;
    height: 5vh;
    background: rgb(0, 0, 0);
    /* border: 1px solid red; */
}




div.instagram{
    position: absolute;
    left: 5.9vw;
    top: 16.5vh;
    width: 26.7vw;
    height: 67vh;
    background-color: white;
    background-size: cover;   
    z-index: 0;
}
.instagram::after {
    content: "O _ O";
    position: absolute;
    left: 0;
    top: -4.1vh;
    /* border: 1px solid red; */
    border-radius: 7px 7px 0 0;
    font-size: 1.58vw;
    font-family:"pixeboy" ;
    background: #000;
    color: white;
    padding: 0.23vw 0.55vw 0.25vw 0.55vw;
    letter-spacing: 0.2vh;
    /* z-index: -1; */
}

.ins-profile{
    /* position: absolute; */
    position: relative;
    /* width: 100%; */
    height: 5.14vh;
    top: 4.1vh;
    /* border: 1px solid #000; */
    /* padding: 0px 20px; */
    /* font-size: 30px; */
    left: 1.9vw;
}
.ins-profile img{
    width: 3vw;
    border-radius: 50%;
    border: 0.3vh solid rgb(255, 235, 58);
    margin-left:0px ;
    /* padding: 0; */
    display: flex;
    justify-content: space-between;
    
}

.bar:after {
    content: " ";
    position: absolute;
    width: 0.6vw;
    border-bottom: 0.4vh solid #000;
    bottom: 1.5vh;
    right: 0;
    animation: blink 0.4s infinite ease;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.ins-inner {
    position: relative;
    /* border: 1px solid red; */
    width: 360px;
    height: 360px;
    top: 12.9vh;
    left: 50%;
    transform: translateX(-50%) scale(1);
    transform-origin: center top;
    
}
.ins-photo,.ins-bg,.ins-cover,.ins-frame {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid #000; */
    

}
.ins-bg {
    /* background: linear-gradient(); */
    /* border-radius: 20px; */
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    /* box-sizing: content-box; */
    border: 5px solid #000;

}
.ins-photo {
    background-image: url(../img/ins1.png);
    background-size: cover;
    /* animation-delay: 2s; */
    /* animation: ins-loop 2.5s steps(37) both infinite; */

}
@keyframes ins-loop {
    from {
        background-size: cover;
        background-position: 13320px 0px;
    }
    to {
        background-size: cover;
        background-position: 0 0;
        /* 37*360 */
    }
}
.ins-cover {
    /* background-color: red;  */
    /* top: 130px; */
    /* left: 5px; */
    /* top: 5px; */
    /* width: 97.22222222222222%; */
    /* height: 97.2222222222222%; */
    /* transform: translate(5px,5px); */
    /* border-width: 5px; */
    background-size: cover;
    background-image: url(../img/ins-trans.png);
    /* animation: instrans 3s steps(50) forwards infinite; */
    /* z-index: 10 */
    /* border: 5px solid #000; */
    /* width: 350px;
    height: 350px; */
    /* margin-top: 5px; */
    /* box-sizing: border-box; */
}
.ins-frame {
    border: 5px solid #000;
    display: none;
}
@keyframes instrans {
    0% {
        background-size: cover;
        background-position: 7200px 0px;
    }
    100% {
        background-size: cover;
        background-position: 0px 0px;
        /* 113*360 */
    }
}




.ins-button {
    position: absolute;
    top: 55.6vh;
    left: 50%;
    transform: translateX(-50%)!important;
    height: 5.15vh;
    /* width: 300px; */
    /* border: 1px solid #000; */
    /* display: flex; */
    width: 20.8vw;
    justify-content: space-around;
}
.ins-button li {
    /* width: 10%; */
    /* width: 40px; */
    /* border: 1px solid #000; */
    padding: 0;
}
.ins-button span {
    margin: 0.6vw;
}

.project {
    position: absolute;
    right: 6vw;
    top: 10.4vh;
    width: 65.5vw;
    height: 66vh;
    border: 6px solid #000;
    /* background:url(img/frame2.png) no-repeat; */
    background-size: cover;
    image-rendering: pixelated;
    background-color:white;
    z-index: -1;
}
.project::after {
    content: "X _ X";
    position: absolute;
    right: -3.6vw;
    top: 2.57vh;
    /* border: 1px solid red; */
    border-radius: 0.4vw 0.4vw 0 0;
    font-size: 1.58vw;
    font-family:"pixeboy" ;
    background: #212529;
    color: white;
    padding: 0.23vw 0.55vw 0.25vw 0.55vw;
    letter-spacing: 0.2vh;
    z-index: -1;
    transform: rotate(90deg);
}
.title {
    position: absolute;
    right: 20.8vw;
    top: 73.1vh;
    width: 29.8vw;
    height: 15.4vh;
    border: 5px solid #000;
    /* background:url(img/frame3.png) no-repeat; */
    background-size: cover;
    image-rendering: pixelated;
    background-color: white;
    z-index: 1
    
}
.title::after {
    content: "O _ x";
    position: absolute;
    left: 0;
    top: -4.2vh;
    /* border: 1px solid red; */
    border-radius: 7px 7px 0 0;
    font-size: 1.58vw;
    font-family:"pixeboy" ;
    background: #212529;
    color: white;
    padding: 0.23vw 0.55vw 0.25vw 0.55vw;
    letter-spacing: 0.2vh;
}


h1,span.since {
    display: block;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'VT323', monospace;
    font-style: italic;
}
h1 {
    font-size: 3.57vw;
    line-height: 10.3vh;
    color: #7bb5e4;
    text-shadow: 0.23vh 0.23vh 0 #3d3d3d, 3px 3px 0 #3D3D3D;
}
h2 {
    display: inline-block;
    text-align: left;
    letter-spacing: 0.3px;
    font-family: 'pixeboy';
    /* font-style: italic; */
    font-size: 2.25em;
    line-height: 4vh;
    color: #4aa09c;
    padding: 0.2vh;
    /* text-shadow: 2px 2px 0 #3d3d3d, 3px 3px 0 #3D3D3D; */
    box-shadow: 0 0.1em rgba(34,193,195,1), 0 -0.1em rgba(34,193,195,1), 0.1em 0 rgba(253,187,45,1), -0.1em 0 rgba(253,187,45,1);
    background: white
}
span.since {
    font-size: 1.3vw;
    line-height: 1.5vh;
    color: #3d3d3d;
    /* text-shadow: 2px 2px 0 #3d3d3d, 3px 3px 0 #3D3D3D; */
}

.works{
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    height: 85%;
    /* border: 1px solid #000; */
    position: absolute;
    left: 51%;
    top: 48%;
    transform: translate(-50%,-50%);
    display: none;
}

.sec{
    position: relative;
    width: 12vw;
    height:23.7vh;
    /* border: 1px solid #000; */
    margin: 1.12vw 1.12vw 0.56vw 1.12vw ;
    /* transition: all ease 2s; */
    cursor: pointer;

}
.sec-title,.sec-type{
    display: block;
    left: 0;
    width: 100%;
    /* border: 1px solid #000; */
    position: absolute;
    text-align: center;
    bottom: 2vh;
    font-size: 0.85vw;
    font-family: "zpix"; 
} 
.sec-type {
    display: inline-block;
    bottom: 0px;
    font-size: 0.71vw;
    color: #666;
    text-align: center;
    background-color: #999;
}
.thumbnail, .hover {
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%,-60%);
    width: 9.5vw;
    height: 9.5vw;
    border: 1px solid red;
    
    
}
.thumbnail img {
    width: 100%;
    height: 100%;
    transform: scale(1); 
    z-index: -1;
      
}

.hover {
    transition:all ease-in-out 0.3s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color:rgba(44, 126, 146, 0.8);
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    -webkit-flex-flow: column wrap;
    align-items: center;
    border: 1px solid #000;
}

.sec:hover .hover{
    opacity: 1;
    visibility: visible;
}
span.divwork{
    /* display: inline-block; */
    /* border: 1px solid #000; */
    background-color: black;
    border-radius: 0.2vh;
    color: white;
    text-align: center;
    font-family: "zpix";
    font-size: 0.71vw;
    padding: 0.3vw 0.7vh;
    width: none;
    margin: 1vh;
    letter-spacing: 0.5px;
    font-weight: 600;
}
.linkdiv {
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid #000; */
}

a.link {
    /* display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%; */
    /* transform: translate(-50%,-50%); */
    text-decoration: none;
    color: white;
    font-size: 0.71vw;
    font-family: "zpix";
    text-align: center;
    /* border-top: 0px solid white; */
    padding: 5px;
    transition: all ease 0.3s;
    /* border: 1px solid #000; */
}
a.link:hover{
   text-shadow: 0.2vh 0.2vh 0.1vh #3d3d3d ;
   transform: translate(-0.2vh,-0.2vh)
}



.about {
    /* border: 1px solid #000; */
    width: 85%;
    height: 85%;
    /* border: 1px solid #000; */
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%,-50%);
    padding: 10px 25px;
    /* display: none; */
    position: relative;
    /* display: none; */
    
}


.about p {
    
    /* left: 50%; */
    /* top: 50%; */
    font-family: "zpix";
    text-indent: 2em;
    line-height: 4.3vh;
    font-size: 0.75vw;
}





span.udline {
   border-bottom: 0.2vh dashed #4aa09c;
   padding: 0.3vh;
   /* font-style: oblique; */
   font-size: 0.8vw;
   color:#4aa09c

}
.software,.ability {
    position: absolute;
    width: 50%;
    height: 33vh;
    /* border: 1px solid #000; */
    bottom: 2vh;
}
.software{
    left: 2em;
    
}
.softul {
    position: absolute;
    width: 100%;
    height: 64%;
    bottom: 2vh;
    /* border: 1px solid #000; */
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.software li {
    /* border: 1px solid red; */
    width: 5vw;
    height: 7.8vh;
    list-style: none;
    margin: 0px 1.5vw 3.4vw 0px ;
    position: relative;
}
.softimg {
    width: 4.6vw;
    height: 4.55vw;
    
}

.good {
    /* content: " "; */
    /* border: 1px solid red; */
    position: absolute;
    left: -5px;
    top: -5px;
    width: 1.5vw;
    height: 1.5vw;
}

.ability {
    right: 2em;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 28.8vh;
    float: right;
    width: 45%;
}
.ability li {
    width: 100%;
    height: 5.14vh;
   
    /* border: 1px solid #000;  */
}
.ability p {
    font-size: 0.96vw;
    padding: 0.6vw;
    font-weight: bold;
}

progress {
    position: relative;
    width: 19vw;
    height: 2vh;
    margin: 0.2vw;
    /* color: #f78888;
    background-color: rgb(253, 128, 128); */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid red;
}

progress.is-yellow::-webkit-progress-value{background-color:#f7d51d}
progress.is-yellow::-moz-progress-bar{background-color:#f7d51d}
progress.is-yellow::-ms-fill{background-color:#f7d51d;border:none}
progress::-webkit-progress-bar{background-color:#fff}

progress:before,progress::after {
    content: "";
    width: 3px;
    height: 5px;
    background-color: white;
    /* border: 1px solid #000; */
    position: absolute;
    left: 3px;
    top: 3px;
}
progress:after {
    width: 2px;
    height: 4px;
    left: 5px;
    top: 1px;
    transform: rotate(90deg);
}




.life {
    /* border: 1px solid #000; */
    width: 85%;
    height: 85%;
    /* border: 1px solid #000; */
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%,-50%);
    /* display: none; */
    position: relative;
    /* display: none; */
    display: flex;
    -webkit-flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    display: none;
}

.lifes {
    /* border: 1px solid #000; */
    /* width: 100%; */
    /* height: 100px; */
    margin-bottom: 4.2vh;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;

}
.life-title {
    text-align: center;
    display: inline-block;
    line-height:10.3vh;
    /* line-height: 100px; */
    font-size: 1.2vw;
    font-family: "zpix";
    color: rgba(253,187,45,1);
    text-shadow:0.1vh 0.1vh 0 rgb(24, 52, 53);
    padding-left: 3vw;
}
.life-item{
    /* border: 1px solid #000; */
    /* height: 105px; */
    width: 9vw;
    display: flex;
    -webkit-flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
}
.life-item a{
    display: block;
    /* width: 50px; */
    text-decoration: none;
    font-size: 0.71vw;
    font-family: "zpix";
    padding:0.6vw;
    color: black;
    /* text-align: left; */
    position: relative;
}
.lifeimg {
    width: 29.7vw;
    float:right;
    /* height: 100%; */
}
.life-item a:hover {
    transform: translateY(-4px);
}


/* .ptlink:before {
    position: absolute;
    top: 8px;
    left: -10px;
    content: "";
    width: 1px;
    height: 1px;
    color: #212529;
    box-shadow:  4px 4px, 6px 4px,  4px 6px, 6px 6px, 8px 6px, 4px 8px, 6px 8px, 8px 8px, 10px 8px,  4px 10px, 6px 10px, 8px 10px, 4px 12px, 6px 12px
} */
.ptlink:hover:before {
    animation: blink 0.25s infinite step-start;
    animation-iteration-count: 2;
    position: absolute;
    top: 0.72vh;
    left: -0.6vw;
    content: "";
    width: 0.1vh;
    height: 0.1vh;
    color: #212529;
    box-shadow:  .4vh .4vh, .6vh .4vh,  .4vh .6vh, .6vh .6vh, .8vh .6vh, .4vh .8vh, .6vh .8vh, .8vh .8vh, 1.0vh .8vh,  .4vh 1.0vh, .6vh 1.0vh, .8vh 1.0vh, .4vh 1.2vh, .6vh 1.2vh
}
/* @keyframes flicker  */



.contact{
     /* border: 1px solid #000; */
     width: 80%;
     height: 80%;
     /* border: 1px solid #000; */
     position: absolute;
     left: 50%;
     top: 45%;
     transform: translate(-50%,-50%);
     /* display: none; */
     position: relative;
     display: none;
     
}
.profile {
    width: 17.8vw;
    height: 17.8vw;
    /* border: 1px solid #000; */
    margin: 1.5vw;
    background-image: url(../img/profile.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.contact-inner {
    width: 100%;
    height: 100%;
    display: flex;
     -webkit-flex-flow: row wrap;
     justify-content: flex-start;
     align-items: center;
}
.contacts {
    /* border: 1px solid #000; */
    width: 30vw;
    height: 15.4vh;
    display: flex;
    justify-content: space-around;
     align-items: flex-start;
}
.contacts a {
    display: block;
    /* border: 1px solid #000; */
    width: 6vw;
    height: 6vw;
    text-decoration: none;
    text-align: center;
    position: relative;
    color: #666;
}
.contactimg {
    width: 6vw;
    height: 6vw;
}
.contact-title {
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translate(-50%,-50%);
    color: black;
    font-family: "zpix";
    transition: all 0.5s ease;
    font-size: 1vw;
}
.contact-title:after {
    content: "";
    /* border: 1px solid #000; */
    position: absolute;
    left: -0.4vh;
    top: -0.3vh;
    padding: 0.4vh;
    width: 100%;
    height: 1.7vh;
    background-color:#333;
    z-index: -1;
    border-radius: 0.2vh;
    transform-origin: 0% 0%;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.contact-title:hover:after{
    transform: scaleX(1);
    
}
.contact-title:hover{
    color:white;
}


.scaleUp{
    animation:scaleUp  1s  step-start infinite;
    /* transition: all 0; */
}

@keyframes scaleUp{
    0% {
        transform:scale(1) rotate(0deg)
    }
    10% {
        transform:scale(1.1) rotate(-10deg)
    }
    20% {
        transform:scale(1.1) rotate(10deg)
    }
    30% {
        transform:scale(1.1) rotate(-10deg)
    }
    40% {
        transform:scale(1.1) rotate(10deg)
    }
    50% {
        transform:scale(1.1) rotate(-10deg)
    }
    60% {
        transform:scale(1.1) rotate(10deg)
    }
    70% {
        transform:scale(1.1) rotate(-10deg)
    }
    80% {
        transform:scale(1.1) rotate(10deg)
    }
    90% {
        transform:scale(1.1) rotate(10deg)
    }
    100% {
        transform:scale(1) rotate(0deg)
    }
}

.pixwrap-b {
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url(../img/border.svg) ;
    border-image-outset: 2;
    border-width: 0.3vw;
    border-style: solid;
}
.pixwrap-m {
    border-image-slice: 3;
    border-image-width: 3;
    border-image-repeat: stretch;
    border-image-source: url(../img/border.svg) ;
    border-image-outset: 2;
    border-width: 0.2vw;
    border-style: solid;
}
.pixwrap-t {
    border-image-slice: 2;
    border-image-width: 2;
    border-image-repeat: stretch;
    border-image-source: url(../img/border2.svg) ;
    border-image-outset: 2;
    border-width: 0.2vw;
    border-style: solid;
}


@font-face {
    font-family: 'pixeboy';
    src: url(../fonts/Pixeboy.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VT323';
    src: url(../fonts/VT323-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'zpix';
    src: url(../fonts/zpix.ttf);
    font-weight: normal;
    font-style: normal;
}


@media screen and (min-width: 00px)